body,
html {
    width: 100%;
    height: 100%;
}

body,
html,
p,
a {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;

}
button{
    border: none;
    background: transparent;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}